body {
    background-color: #2e2d2b;
    color: #ede4d5;
    color-scheme: dark;
}
button {
    background-color: #4d4a45;
    color: #ede4d5;
}
button:hover {
    background-color: #403d39;
}
button:disabled, button[disabled] {
    background-color: #282623;
}
input,
textarea {
    background-color: #403d39;
    color: #ede4d5;
}
#error-bar {
    background-color: #f2b149;
    color: #2e2d2b;
}
.ms-seperator {
    color: #474643;
}
hr {
    border-top: 1px solid #6e6b65;
}
.post {
    background-color: #403d39;
}
.pfp {
    border: 2px #383531 solid;
}
.album-cover {
    border: 2px #383531 solid;
}
#ud-lastfm-container {
    background-color: #403d39;
}
#ud-bio-container {
    background-color: #403d39;
}
.mc-container {
    background-color: #34322f;
}
#mc-danger-container {
    background-color: #422b2b;
}
.mm-container {
    background-color: #34322f;
}
a {
    color: #ede4d5;
}
.rl-guidelines {
    background-color: #999085;
    color: black;
}
.reply {
    color: #c2baac;
}

#ms-replies:not(:empty) {
  display: block;
}
.md p {
  margin-block: 0;
}
.md blockquote {
  margin-inline: 0;
  margin-block: 0;
  border-left: 2px solid currentcolor;
  padding-left: 5px;
}
.md table {
  border-collapse: collapse;
}
.md th, .md td {
  border: 1px solid currentColor;
  padding: 0.25rem 0.5rem;
}

#ms-replies:not(:empty) {
  display: block;
}
.md p,
.md ul,
.md ol {
  margin-block: 0;
}
.md blockquote {
  margin-inline: 0;
  margin-block: 0;
  border-left: 2px solid currentcolor;
  padding-left: 5px;
}
.md table {
  border-collapse: collapse;
}
.md th, .md td {
  border: 1px solid currentColor;
  padding: 0.25rem 0.5rem;
}
.md small {
  opacity: .8;
  font-size: .8rem;
}