body {
    background-color: #303030;
    color: #e6f0f6;
    color-scheme: dark;
}
button {
    background-color: #4c4c4c;
    color: #e6f0f6;
}
button:hover {
    background-color: #434343;
}
button:disabled, button[disabled] {
    background-color: #242424;
}
input, textarea {
    background-color: #434343;
    color: #e6f0f6;
}
#error-bar {
    background-color: #5394d2;
    color: #303030;
}
.ms-seperator {
    color: #4a4a4a;
}
hr {
    border-top: 1px solid #747474;
}
.post {
    background-color: #434343;
}
.pfp {
    border: 2px #3e3e3e solid;
}
.album-cover {
    border: 2px #3e3e3e solid;
}
#ud-lastfm-container {
    background-color: #434343;
}
#ud-bio-container {
    background-color: #434343;
}
.mc-container {
    background-color: #383838;
}
#mc-danger-container {
    background-color: #422b2b;
}
.mm-container {
    background-color: #383838;
}
a {
    color: #e6f0f6;
}
.reply {
    color: #c8c8c8;
}