
@import "helium.css";

code {
  background-color: #1c1d20;
  display: block;
  border-radius: 2px;
  box-shadow:
    inset 0 0px 2px #00000096,
    0 0 2px #0000005e;
  border-bottom: 1px solid #ffffff3d;
}
button {
  border-radius: 0px;
  padding: 7px;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid var(--deer-horizontalrule);
  -webkit-box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  border-top: 1px solid #fff3;
  transition: background 0.3s ease-in-out;
}
input {
  border: none;
  border-radius: 0;
  padding: 7px;
  font-family: "Noto Sans", sans-serif;
  font-size: 13.3333px;
  border: 1px solid var(--deer-horizontalrule);
  -webkit-box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
}
textarea:focus {
  outline: none;
  -webkit-box-shadow:
    #000 0 1px 0,
    0 1px 3px black,
    0 0 4px;
  box-shadow:
    #000 0 1px 0,
    0 1px 3px black,
    0 2px 5px;
}
textarea {
  min-width: 180px;
  /* min-height: 100px; */
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 4px;
  vertical-align: middle;
  font-size: 13.3333px;
  background-color: var(--deer-button-hover);
  color: var(--deer-foreground);
  border: 1px solid var(--deer-horizontalrule);
  -webkit-box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  -moz-box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  box-shadow:
    #000 0 1px 0,
    0 1px 3px black;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  padding: 0;
}
blockquote {
  margin-left: 70px;
  border-left: 3px solid var(--deer-container-background);
  padding: 12px;
  background-color: var(--deer-button);
  box-shadow: 0px 0 5px #00000021;
}
#main {
  padding: 10px;
}
.post {
  padding: 5px 7px 12px 7px;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow:
    0 0 4px -1px black,
    inset 0 57px 10px -14px #ffffff08;
  border-bottom: 1px dashed black;
  border-top: 1px solid #ffffff24;
}
.pfp {
  border-radius: 1px;
  padding: 1px;
  background: white;
}
.mono {
  font-family: monospace;
}
#ms-ulist {
  font-weight: bold;
  color: var(--deer-reply);
  text-shadow: 1px 1px black;
}
#ms-msg {
  width: 60vw;
  box-sizing: border-box;
}
#ms-button-post {
  box-sizing: border-box;
}
.album-cover {
  border-radius: 2px;
}
#ud-banner {
  height: 78px;
  background: var(--deer-button-hover);
  margin-top: 11px;
}
#ud-lastfm-container {
  border-radius: 2px;
}
#ud-display-name {
  font-weight: bold;
}
#ud-bio-container {
  border-radius: 2px;
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}
.title {
  background: var(--deer-button);
  padding: 5px;
}
#ud-bio-container #ud-bio,
#ud-lastfm-container #ud-lastfm-wrapper {
  padding: 5px;
}
.mc-container {
  border-radius: 2px;
}
#mc-danger-container {
  border-radius: 2px;
}
.mc-theme-preview {
  border-radius: 2px;
}
.mc-preview-post {
  border-radius: 2px;
}
.mc-container {
  border-radius: 2px;
  box-shadow:
    0 0 1px,
    0 0 14px -4px black;
  flex: 1;
}
#error-bar {
  box-shadow:
    0 0 3px black,
    inset 0 -2px 5px -2px black;
}
